*{
    margin:"0";
}

.button{
    margin-left: 20px;
    margin-top: 10px;    
    position: absolute;
    z-index: 100;
}

img.check{
    margin-left: 120px;
}

p{
    text-align: center;
}

img.big-preview{
    background-size: cover;
    background-image: url(../assets/background.png);
    max-height: 350px;
    max-width: 100%;
    
}

.category {	
	width:60px;
	height:20px;
	bottom:40px;
    right:40px;
    margin-left: 70px;
	background-color:yellow;	
    border-radius:50px;	
    text-align: center;	
    transition: 0.6s ease;            
}

p.content{
    text-align: left;
    margin-left: 70px;
}

h1.titletext{
    color: black;
    margin-left: 70px;
    font-weight: bold;
}

a#button_borrow{
    position: absolute;      
    top: 65%;
    left: 80%;    
    color: white;   
    font-size: 25px; 
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

h1.statustext{
    color: green;
    font-size: 20px;
    margin-left: 100px;
}

p.date{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
}

.category p{    
    color: black;
    text-decoration: none;
    font-size: 15px;            
}

img.small-preview{
    top: 35%;
    left: 90%;
    transform: translate(-50%,-50%);
    position: absolute;    
    height: 150px;
    width: 100px
    
}

ul.menuhead{    
    margin-left: 900px;
    float: right;
}

ul.menuhead li{
    display: inline;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.menuhead li a:hover {
    background-color: transparent;
    color: blue;
}

.list-title{
    margin-top: 30px;
    margin-left: 70px;
}

.list-content{
    margin: 20px;
}

.row#recomended{
    
    margin: 20px;    
}

a#toggle{
    color: black;
    float: right;    
    margin-left: 1000px;
    text-decoration: none;
    position: absolute;
}

@media (max-width: 1024px){
    ul.menuhead{    
        margin-left: 500px;
        float: right;
               
    }

    a#toggle{
        color: black;
        float: right;    
        margin-left: 500px;
        text-decoration: none;
        position: absolute;
    }

    .row#recomended #recomendedcard{     
        padding: 10px;        
        height: auto;      
    }

    
}

@media (max-width: 800px){
    img.big-preview{
        background-size: cover;
        background-image: url(../assets/background.png);
        max-height: 350px;
        max-width: 100%;        
    }

    ul.menuhead{    
        margin-left: 500px;
        float: right;
    }

    a#toggle{
        color: black;
        float: right;    
        margin-left: 500px;
        text-decoration: none;                
    }

    img.small-preview{
        top: 25%;
        left: 90%;
        transform: translate(-50%,-50%);
        position: absolute;    
        height: 150px;
        width: 100px
        
    }

    .row#recomended{
        text-decoration: none;
        margin-left: 80px;
        display: list-item;
        color: white;
    }

    a#button_borrow{
        position: absolute;              
        top: 40%;
        left: 75%;    
        color: white;   
        font-size: 25px; 
        width: 150px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 450px){
        ul.menuhead{    
            margin-left: 200px;
            float: right;
        }

        a#button_borrow{
            position: absolute;              
            top: 26%;
            left: 65%;    
            color: white;   
            font-size: 15px; 
            width: 75px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        img.small-preview{
            top: 20%;
            left: 80%;
            transform: translate(-50%,-50%);
            position: absolute;    
            height: 150px;
            width: 100px
            
        }

        h1.statustext{
            color: green;
            font-size: 20px;
            margin-left: 70px;
        }

        .row#recomended{
            text-decoration: none;
            margin-left: 60px;
            display: list-item;
            color: white;
        }

        a#toggle{
            color: black;
            float: right;    
            margin-left: 300px;
            text-decoration: none;
            position: absolute;
        }
}

@media (max-width: 330px){
    ul.menuhead{    
        margin-left: 150px;
        float: right;
        display: list-item;
        color: transparent;
    }

    a#button_borrow{
        position: absolute;              
        top: 24%;
        left: 70%;    
        color: white;   
        font-size: 10px; 
        width: 60px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    img.small-preview{
        top: 18%;
        left: 80%;
        transform: translate(-50%,-50%);
        position: absolute;    
        height: 100px;
        width: 75px
        
    }

    .row#recomended{
        text-decoration: none;
        margin-left: 15px;
        display: list-item;
        color: white;
    }

    a#toggle{
        color: black;
        float: right;    
        margin-left: 250px;
        text-decoration: none;
        position: absolute;
    }
}

/* slick slider */

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.title-book {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.list-book-detail {
    padding: 10px;
}

.filtr-item.col-sm-4.list-book {
    padding: 7.5px;
}

img.img-fluid.img-book {border-top-left-radius: 10px;border-top-right-radius: 10px;}

.list-book-detail {
    background: white;
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
/* Add Styline */
}

.list-title h4 {
    text-align: center;
}
